.card_base {
  position: relative;
  float: left;
  margin-right: 10px;
  width: 150px;
  height: 220px;
  border-radius: 10px;
  background: #F5F5DC;
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

.card_base img {
  height: 220px;
  width: 150px;
  border-radius: 10px;
  border-color: #76a90b;
  border-style: solid;
}


.property_1:before, .property_1:after {
  content: "1";
  color: black;
}

.property_2:before, .property_2:after {
  content: "2";
  color: black;
}

.property_3:before, .property_3:after {
  content: "3";
  color: black;
}

.property_4:before, .property_4:after {
  content: "4";
  color: black;
}

.property_5:before, .property_5:after {
  content: "5";
  color: black;
}

.property_6:before, .property_6:after {
  content: "6";
  color: black;
}

.property_7:before, .property_7:after {
  content: "7";
  color: black;
}

.property_8:before, .property_8:after {
  content: "8";
  color: black;
}

.property_9:before, .property_9:after {
  content: "9";
  color: black;
}

.property_10:before, .property_10:after {
  content: "10";
  color: black;
}

.property_11:before, .property_11:after {
  content: "11";
  color: black;
}

.property_12:before, .property_12:after {
  content: "12";
  color: black;
}

.property_13:before, .property_13:after {
  content: "13";
  color: black;
}

.property_14:before, .property_14:after {
  content: "14";
  color: black;
}

.property_15:before, .property_15:after {
  content: "15";
  color: black;
}

.property_16:before, .property_16:after {
  content: "16";
  color: black;
}

.property_17:before, .property_17:after {
  content: "17";
  color: black;
}

.property_18:before, .property_18:after {
  content: "18";
  color: black;
}

.property_19:before, .property_19:after {
  content: "19";
  color: black;
}

.property_20:before, .property_20:after {
  content: "20";
  color: black;
}

.property_21:before, .property_21:after {
  content: "21";
  color: black;
}

.property_22:before, .property_22:after {
  content: "22";
  color: black;
}

.property_23:before, .property_23:after {
  content: "23";
  color: black;
}

.property_24:before, .property_24:after {
  content: "24";
  color: black;
}

.property_25:before, .property_25:after {
  content: "25";
  color: black;
}

.property_26:before, .property_26:after {
  content: "26";
  color: black;
}

.property_27:before, .property_27:after {
  content: "27";
  color: black;
}

.property_28:before, .property_28:after {
  content: "28";
  color: black;
}

.property_29:before, .property_29:after {
  content: "29";
  color: black;
}

.property_30:before, .property_30:after {
  content: "30";
  color: black;
}

.property_err:before, .property_err:after {
  content: "err";
  color: black;
}

div[class*='property']:before {
  position: absolute;
  font-size: 35px;
  left: 5px;
  top: 5px;
}

div[class*='property']:after {
  position: absolute;
  font-size: 35px;
  right: 5px;
  bottom: 5px;
}
