.card_base {
  position: relative;
  float: left;
  margin-right: 10px;
  width: 150px;
  height: 220px;
  border-radius: 10px;
  background: #F5F5DC;
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

.card_base img {
  height: 220px;
  width: 150px;
  border-radius: 10px;
  border-color: #76a90b;
  border-style: solid;
}

.card_money{
  height: 220px;
  width: 150px;
  background: #D9CB2C;
  border-radius: 10px;
  border-color: #9C892B;
  border-style: solid;
}

.money_decoration{
  display: flex;
  flex-direction: column;
}

.dollar_sign{
  font-size: 12em;
  color: grey;
  margin-top: -100px;
  text-align: center;
}

.sign_one{
  margin-left: 5px;
  font-size: 2em;
}

.sign_two{
  text-align: right;
  margin-right: 5px;
  font-size: 2em;
  margin-top: -100px;
}

