.game_board {
  background: white;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  justify-content: space-around;

  flex-grow: 1;
}
.round_view {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.deck {
  width: 150px;
  height: 220px;
  border-radius: 10px;
  border-style: solid;
  border-color: #76a90b;
  background: white;
}

.innerDeck {
  width: 130px;
  height: 200px;
  margin: 7px;
  border-radius: 10px;
  background: #76a90b;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.playerInformation {
  width: 100%;
  display: flex;
}

.bet_fold_buttons{
  display: flex;
  flex-direction: column;
}

#bet_button{
  margin: 20px 0px -5px 0px;
}

#fold_button{
    margin: 10px 0px -5px 0px;
}