.game_board {
  background: white;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  justify-content: space-around;

  flex-grow: 1;
}
.round_view {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.deck {
  width: 150px;
  height: 220px;
  border-radius: 10px;
  border-style: solid;
  border-color: #76a90b;
  background: white;
}

.innerDeck {
  width: 130px;
  height: 200px;
  margin: 7px;
  border-radius: 10px;
  background: #76a90b;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.playerInformation {
  width: 100%;
  display: flex;
}

.bet_fold_buttons{
  display: flex;
  flex-direction: column;
}

#bet_button{
  margin: 20px 0px -5px 0px;
}

#fold_button{
    margin: 10px 0px -5px 0px;
}

.bottom_right{
  font-size: 2em;
  margin-right: 5px;
  margin-top: 130px;
  text-align: right;

}

.top_left{
  font-size: 2em;
  margin-left: 5px;
  margin-top: -220px;

}

.winner_screen{
  display: flex;
  flex-direction: column; 
}

#firework{
  width: 20%;
  height: 20%;
}

.winner_information{
  display: flex;
  flex-direction: column;
}

.winner{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  margin-top: 5%;
}

#winner_title{
  font-size: 4em;
  color: #EAD32F;
}
.remaining_players{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#winner_name{
  font-size: 2.5em;
  color:#dc3545;
}

#winner_score{
  font-size: 3em;
  font-style:italic;
  color:#dc3545;
}

.each_player{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 150px;
  height: 50px;
  margin: 50px 100px 100px;
  border-radius: 5px;
  background-color: #FDEDEC;
  text-align: center;
  padding: 5px;
  border-color: #EAD32F;
  border-style: solid;
  color:#050AA7;
  font-weight: bold;
  font-size: 1.5em;
}