.player_card {

  width: 250px;
  height: auto;
  background-color: white;
  box-shadow: 3px 5px 5px grey;
  border-color: #597003;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  padding: 12px;
  margin: 20px 20px 0px 20px;
  float:left;

}

.player_name_header{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  text-align: left;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: auto;
  overflow: hidden;
  border: none;
  background: white;
  color: #597003;
  font: 16em;
  margin-bottom: 0px;
}

.coin {

  float: left;
  margin: 10px 2px 0px 10px;
  width: 65px;
  height: 65px;


}

.coin_box {
  display: block;
  float: left;
  border-radius: 5px;
  margin: 0px 0px auto auto;
  width: 100%;
  background-color: #F5F7B8;

}

.coin_font {
  float: right;
  position: relative;
  font-size: 3em;
  margin-right: 2px;
  top: 50%;
  color: #597003;
}