html,
body,
#root,
.App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

.App-header {
  background: #dc3545;
  height: 50px;
  color: white;
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > .title {
  flex: 1 1 auto;
}

header > a > span {
  white-space: nowrap;
}

header > a {
  color: white;
}

header > a,
header > span {
  flex: 0 0 auto; /* Forces side columns to stay same width */
  width: 170px; /* Sets the width of side columns */
  align-content: center;
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-StartGameButton {
  padding-top: 5%;
}

.div-default {
  text-align: left;
  display: flex;
  width: 200px;
  flex-direction: column;
}

.my-input {
  border-radius: 4px;
  padding: 15px;
  height: 7px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.my-label {
  margin-bottom: 5px;
  margin-top: 5px;
}

#startNewGame {
  margin-bottom: 10px;
  margin-top: 10px;
}
